*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 999999px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-backface-visibility: hidden;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
li {
  list-style: none;
}
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
[hidefocus],
summary,
button,
select,
keygen,
legend,
body {
  font: 14px/1.14 "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",
    sans-serif;
  color: #606266;
  outline: 0;
  background-color: #fff;
}
em,
strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.f-ib,
.wsdfont {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.f-dn {
  display: none;
}
.f-db {
  display: block;
}
.f-df {
  display: flex;
}
.f-fa {
  flex: auto;
}
.f-fdc {
  display: flex;
  flex-direction: column;
}
.f-dfv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.f-dfc {
  justify-content: center;
}
.f-dfj {
  justify-content: space-between;
}
.f-dfs {
  justify-content: flex-start;
}
.f-dfe {
  justify-content: flex-end;
}
.f-dt {
  display: table;
}
.f-dtc {
  display: table-cell;
}
.f-vat,
.f-vata * {
  vertical-align: top;
}
.f-vam,
.f-vama * {
  vertical-align: middle;
}
.f-vab,
.f-vaba * {
  vertical-align: bottom;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.f-pr {
  position: relative;
}
.f-prz {
  position: relative;
  zoom: 1;
}
.f-oh {
  overflow: hidden;
}
.f-oa {
  overflow: auto;
}
.f-fwn {
  font-weight: normal;
}
.f-fwb {
  font-weight: bold;
}
.f-tal {
  text-align: left;
}
.f-tac {
  text-align: center;
}
.f-tar {
  text-align: right;
}
.f-taj {
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-ideograph;
  overflow: hidden;
}
.f-wsn {
  word-wrap: normal;
  white-space: nowrap;
}
.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
.f-ti {
  overflow: hidden;
  text-indent: -30000px;
}
.f-br:after {
  content: "\A";
  white-space: pre;
}
.f-lhn {
  line-height: normal;
}
.f-tdu,
.f-tdu:hover {
  text-decoration: underline;
}
.f-tdn,
.f-tdn:hover {
  text-decoration: none;
}
.f-tdl,
.f-tdl:hover {
  text-decoration: line-through;
}
.f-trc {
  text-transform: capitalize;
}
.f-tru {
  text-transform: uppercase;
}
.f-trl {
  text-transform: lowercase;
}
.f-csp {
  cursor: pointer;
}
.f-csd {
  cursor: default;
}
.f-csh {
  cursor: help;
}
.f-csm {
  cursor: move;
}
.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
img {
  display: inline-block;
  max-width: 100%;
}
img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
a:active,
a:focus {
  -moz-outline: 0;
  outline: 0;
  ie-dummy: expression(this.hideFocus=true);
}
*:focus,
[hidefocus],
summary {
  outline: 0;
}
a {
  color: #646464;
}
html,
body,
.g-wrap {
  height: 100%;
}
body,
.g-wrap {
  min-height: 100%;
}
.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.animated {
  animation-duration: 0.6s;
}
.animation {
  transition: all 0.6s;
}
.f-cb:before,
.f-cb:after {
  display: table;
  content: " ";
}
.f-cb:after {
  clear: both;
}
.g-ms-0,
.g-ms-1,
.g-ms-2,
.g-ms-3,
.g-ms-4,
.g-ms-5,
.g-ms-6,
.g-ms-7,
.g-ms-8,
.g-ms-9,
.g-ms-10,
.g-ms-11,
.g-ms-12,
.g-ms-13,
.g-ms-14,
.g-ms-15,
.g-ms-16,
.g-ms-17,
.g-ms-18,
.g-ms-19,
.g-ms-20,
.g-ms-21,
.g-ms-22,
.g-ms-23,
.g-ms-24 {
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.g-ms-0,
.g-ms-1,
.g-ms-2,
.g-ms-3,
.g-ms-4,
.g-ms-5,
.g-ms-6,
.g-ms-7,
.g-ms-8,
.g-ms-9,
.g-ms-10,
.g-ms-11,
.g-ms-12,
.g-ms-13,
.g-ms-14,
.g-ms-15,
.g-ms-16,
.g-ms-17,
.g-ms-18,
.g-ms-19,
.g-ms-20,
.g-ms-21,
.g-ms-22,
.g-ms-23 {
  float: left;
}
.g-ms-0 {
  width: 0;
  overflow: hidden;
}
.g-ms-1 {
  width: 4.166666667%;
}
.g-ms-2 {
  width: 8.333333333%;
}
.g-ms-3 {
  width: 12.5%;
}
.g-ms-4 {
  width: 16.66666667%;
}
.g-ms-5 {
  width: 20.833333333%;
}
.g-ms-6 {
  width: 25%;
}
.g-ms-7 {
  width: 29.166666667%;
}
.g-ms-8 {
  width: 33.33333333%;
}
.g-ms-9 {
  width: 37.5%;
}
.g-ms-10 {
  width: 41.66666667%;
}
.g-ms-11 {
  width: 45.833333333%;
}
.g-ms-12 {
  width: 50%;
}
.g-ms-13 {
  width: 54.166666667%;
}
.g-ms-14 {
  width: 58.33333333%;
}
.g-ms-15 {
  width: 62.5%;
}
.g-ms-16 {
  width: 66.66666667%;
}
.g-ms-17 {
  width: 70.833333333%;
}
.g-ms-18 {
  width: 75%;
}
.g-ms-19 {
  width: 79.166666667%;
}
.g-ms-20 {
  width: 83.33333333%;
}
.g-ms-21 {
  width: 87.5%;
}
.g-ms-22 {
  width: 91.66666667%;
}
.g-ms-23 {
  width: 95.833333333%;
}
.g-ms-24 {
  width: 100%;
}
.f-offset0 {
  left: 0;
}
.f-offset1 {
  left: 4.166666667%;
}
.f-offset2 {
  left: 8.333333333%;
}
.f-offset3 {
  left: 12.5%;
}
.f-offset4 {
  left: 16.66666667%;
}
.f-offset5 {
  left: 20.833333333%;
}
.f-offset6 {
  left: 25%;
}
.f-offset7 {
  left: 29.166666667%;
}
.f-offset8 {
  left: 33.33333333%;
}
.f-offset9 {
  left: 37.5%;
}
.f-offset10 {
  left: 41.66666667%;
}
.f-offset11 {
  left: 45.833333333%;
}
.f-offset12 {
  left: 50%;
}
.f-offset13 {
  left: 54.166666667%;
}
.f-offset14 {
  left: 58.33333333%;
}
.f-offset15 {
  left: 62.5%;
}
.f-offset16 {
  left: 66.66666667%;
}
.f-offset17 {
  left: 70.833333333%;
}
.f-offset18 {
  left: 75%;
}
.f-offset19 {
  left: 79.166666667%;
}
.f-offset20 {
  left: 83.33333333%;
}
.f-offset21 {
  left: 87.5%;
}
.f-offset22 {
  left: 91.66666667%;
}
.f-offset23 {
  left: 95.833333333%;
}
.f-offset-1 {
  left: -4.166666667%;
}
.f-offset-2 {
  left: -8.333333333%;
}
.f-offset-3 {
  left: -12.5%;
}
.f-offset-4 {
  left: -16.66666667%;
}
.f-offset-5 {
  left: -20.833333333%;
}
.f-offset-6 {
  left: -25%;
}
.f-offset-7 {
  left: -29.166666667%;
}
.f-offset-8 {
  left: -33.33333333%;
}
.f-offset-9 {
  left: -37.5%;
}
.f-offset-10 {
  left: -41.66666667%;
}
.f-offset-11 {
  left: -45.833333333%;
}
.f-offset-12 {
  left: -50%;
}
.f-offset-13 {
  left: -54.166666667%;
}
.f-offset-14 {
  left: -58.33333333%;
}
.f-offset-15 {
  left: -62.5%;
}
.f-offset-16 {
  left: -66.66666667%;
}
.f-offset-17 {
  left: -70.833333333%;
}
.f-offset-18 {
  left: -75%;
}
.f-offset-19 {
  left: -79.166666667%;
}
.f-offset-20 {
  left: -83.33333333%;
}
.f-offset-21 {
  left: -87.5%;
}
.f-offset-22 {
  left: -91.66666667%;
}
.f-offset-23 {
  left: -95.833333333%;
}
.child-view {
  position: absolute;
  width: 100%;
  min-height: 100%;
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
  opacity: 0.01;
}
.child-view.active {
  z-index: 20;
  opacity: 1;
}
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.fade-enter-active,
.fade-leave-active {
  opacity: 1;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.s-c-danger {
  color: var(--wsd-theme-danger);
}
.s-c-warning {
  color: var(--wsd-theme-warning);
}
.s-c-success {
  color: var(--wsd-theme-success);
}
.s-c-infoyellow {
  color: var(--wsd-theme-infoyellow);
}
.s-c-infoteal {
  color: var(--wsd-theme-infoteal);
}
.s-c-infoindigo {
  color: var(--wsd-theme-infoindigo);
}
.s-c-infopurple {
  color: var(--wsd-theme-infopurple);
}
.s-c-infopink {
  color: var(--wsd-theme-infopink);
}
.s-c-graywhite {
  color: var(--wsd-theme-graywhite);
}
.s-c-grayedit {
  color: var(--wsd-theme-grayedit);
}
.s-c-graybg {
  color: var(--wsd-theme-graybg);
}
.s-c-graytile {
  color: var(--wsd-theme-graytile);
}
.s-c-grayline {
  color: var(--wsd-theme-grayline);
}
.s-c-fontbasic {
  color: var(--wsd-theme-fontbasic);
}
.s-c-fontdis {
  color: var(--wsd-theme-fontdis);
}
.s-c-fontinput {
  color: var(--wsd-theme-fontinput);
}
.s-c-fontdark {
  color: var(--wsd-theme-fontdark);
}
.s-c-bluebrand {
  color: var(--wsd-theme-bluebrand);
}
.s-c-bluehover {
  color: var(--wsd-theme-bluehover);
}
.s-c-blueactive {
  color: var(--wsd-theme-blueactive);
}
.s-c-bluedark {
  color: var(--wsd-theme-bluedark);
}
.s-bc-danger {
  background-color: var(--wsd-theme-danger);
}
.s-bc-infopurple {
  background-color: var(--wsd-theme-infopurple);
}
.s-bc-warning {
  background-color: var(--wsd-theme-warning);
}
.s-bc-bluebrand {
  background-color: var(--wsd-theme-bluebrand);
}
.s-bc-infoindigo {
  background-color: var(--wsd-theme-infoindigo);
}
.s-bc-success {
  background-color: var(--wsd-theme-success);
}
.s-bc-infoteal {
  background-color: var(--wsd-theme-infoteal);
}
.s-bc-infoyellow {
  background-color: var(--wsd-theme-infoyellow);
}

.f-bds1 {
  border-style: solid;
}
.f-bds2 {
  border-style: dashed;
}
.f-bds3 {
  border-style: dotted;
}
.f-bds4 {
  border-style: double;
}
.s-hrc-danger {
  border-color: var(--wsd-theme-danger);
}
.s-hrc-warning {
  border-color: var(--wsd-theme-warning);
}
.s-hrc-success {
  border-color: var(--wsd-theme-success);
}
.s-hrc-infoyellow {
  border-color: var(--wsd-theme-infoyellow);
}
.s-hrc-infoteal {
  border-color: var(--wsd-theme-infoteal);
}
.s-hrc-infoindigo {
  border-color: var(--wsd-theme-infoindigo);
}
.s-hrc-infopurple {
  border-color: var(--wsd-theme-infopurple);
}
.s-hrc-infopink {
  border-color: var(--wsd-theme-infopink);
}
.s-hrc-graywhite {
  border-color: var(--wsd-theme-graywhite);
}
.s-hrc-grayedit {
  border-color: var(--wsd-theme-grayedit);
}
.s-hrc-graybg {
  border-color: var(--wsd-theme-graybg);
}
.s-hrc-graytile {
  border-color: var(--wsd-theme-graytile);
}
.s-hrc-grayline {
  border-color: var(--wsd-theme-grayline);
}
.s-hrc-fontbasic {
  border-color: var(--wsd-theme-fontbasic);
}
.s-hrc-fontdis {
  border-color: var(--wsd-theme-fontdis);
}
.s-hrc-fontinput {
  border-color: var(--wsd-theme-fontinput);
}
.s-hrc-fontdark {
  border-color: var(--wsd-theme-fontdark);
}
.s-hrc-bluebrand {
  border-color: var(--wsd-theme-bluebrand);
}
.s-hrc-bluehover {
  border-color: var(--wsd-theme-bluehover);
}
.s-hrc-blueactive {
  border-color: var(--wsd-theme-blueactive);
}
.s-hrc-bluedark {
  border-color: var(--wsd-theme-bluedark);
}
