.f-mt0 {
  margin-top: 0;
}
.f-mr0 {
  margin-right: 0;
}
.f-mb0 {
  margin-bottom: 0;
}
.f-ml0 {
  margin-left: 0;
}
.f-mt1 {
  margin-top: 1px;
}
.f-mr1 {
  margin-right: 1px;
}
.f-mb1 {
  margin-bottom: 1px;
}
.f-ml1 {
  margin-left: 1px;
}
.f-mt2 {
  margin-top: 2px;
}
.f-mr2 {
  margin-right: 2px;
}
.f-mb2 {
  margin-bottom: 2px;
}
.f-ml2 {
  margin-left: 2px;
}
.f-mt3 {
  margin-top: 3px;
}
.f-mr3 {
  margin-right: 3px;
}
.f-mb3 {
  margin-bottom: 3px;
}
.f-ml3 {
  margin-left: 3px;
}
.f-mt4 {
  margin-top: 4px;
}
.f-mr4 {
  margin-right: 4px;
}
.f-mb4 {
  margin-bottom: 4px;
}
.f-ml4 {
  margin-left: 4px;
}
.f-mt5 {
  margin-top: 5px;
}
.f-mr5 {
  margin-right: 5px;
}
.f-mb5 {
  margin-bottom: 5px;
}
.f-ml5 {
  margin-left: 5px;
}
.f-mt6 {
  margin-top: 6px;
}
.f-mr6 {
  margin-right: 6px;
}
.f-mb6 {
  margin-bottom: 6px;
}
.f-ml6 {
  margin-left: 6px;
}
.f-mt7 {
  margin-top: 7px;
}
.f-mr7 {
  margin-right: 7px;
}
.f-mb7 {
  margin-bottom: 7px;
}
.f-ml7 {
  margin-left: 7px;
}
.f-mt8 {
  margin-top: 8px;
}
.f-mr8 {
  margin-right: 8px;
}
.f-mb8 {
  margin-bottom: 8px;
}
.f-ml8 {
  margin-left: 8px;
}
.f-mt9 {
  margin-top: 9px;
}
.f-mr9 {
  margin-right: 9px;
}
.f-mb9 {
  margin-bottom: 9px;
}
.f-ml9 {
  margin-left: 9px;
}
.f-mt10 {
  margin-top: 10px;
}
.f-mr10 {
  margin-right: 10px;
}
.f-mb10 {
  margin-bottom: 10px;
}
.f-ml10 {
  margin-left: 10px;
}
.f-mt12 {
  margin-top: 12px;
}
.f-mr12 {
  margin-right: 12px;
}
.f-mb12 {
  margin-bottom: 12px;
}
.f-ml12 {
  margin-left: 12px;
}
.f-mt13 {
  margin-top: 13px;
}
.f-mr13 {
  margin-right: 13px;
}
.f-mb13 {
  margin-bottom: 13px;
}
.f-ml13 {
  margin-left: 13px;
}
.f-mt15 {
  margin-top: 15px;
}
.f-mr15 {
  margin-right: 15px;
}
.f-mb15 {
  margin-bottom: 15px;
}
.f-ml15 {
  margin-left: 15px;
}
.f-mt20 {
  margin-top: 20px;
}
.f-mr20 {
  margin-right: 20px;
}
.f-mb20 {
  margin-bottom: 20px;
}
.f-ml20 {
  margin-left: 20px;
}
.f-mt25 {
  margin-top: 25px;
}
.f-mr25 {
  margin-right: 25px;
}
.f-mb25 {
  margin-bottom: 25px;
}
.f-ml25 {
  margin-left: 25px;
}
.f-mt30 {
  margin-top: 30px;
}
.f-mr30 {
  margin-right: 30px;
}
.f-mb30 {
  margin-bottom: 30px;
}
.f-ml30 {
  margin-left: 30px;
}
.f-mt35 {
  margin-top: 35px;
}
.f-mr35 {
  margin-right: 35px;
}
.f-mb35 {
  margin-bottom: 35px;
}
.f-ml35 {
  margin-left: 35px;
}
.f-mt40 {
  margin-top: 40px;
}
.f-mr40 {
  margin-right: 40px;
}
.f-mb40 {
  margin-bottom: 40px;
}
.f-ml40 {
  margin-left: 40px;
}
.f-mt50 {
  margin-top: 50px;
}
.f-mr50 {
  margin-right: 50px;
}
.f-mb50 {
  margin-bottom: 50px;
}
.f-ml50 {
  margin-left: 50px;
}
.f-mt60 {
  margin-top: 60px;
}
.f-mr60 {
  margin-right: 60px;
}
.f-mb60 {
  margin-bottom: 60px;
}
.f-ml60 {
  margin-left: 60px;
}
.f-mt70 {
  margin-top: 70px;
}
.f-mr70 {
  margin-right: 70px;
}
.f-mb70 {
  margin-bottom: 70px;
}
.f-ml70 {
  margin-left: 70px;
}
.f-pt0 {
  padding-top: 0;
}
.f-pr0 {
  padding-right: 0;
}
.f-pb0 {
  padding-bottom: 0;
}
.f-pl0 {
  padding-left: 0;
}
.f-pt1 {
  padding-top: 1px;
}
.f-pr1 {
  padding-right: 1px;
}
.f-pb1 {
  padding-bottom: 1px;
}
.f-pl1 {
  padding-left: 1px;
}
.f-pt2 {
  padding-top: 2px;
}
.f-pr2 {
  padding-right: 2px;
}
.f-pb2 {
  padding-bottom: 2px;
}
.f-pl2 {
  padding-left: 2px;
}
.f-pt3 {
  padding-top: 3px;
}
.f-pr3 {
  padding-right: 3px;
}
.f-pb3 {
  padding-bottom: 3px;
}
.f-pl3 {
  padding-left: 3px;
}
.f-pt4 {
  padding-top: 4px;
}
.f-pr4 {
  padding-right: 4px;
}
.f-pb4 {
  padding-bottom: 4px;
}
.f-pl4 {
  padding-left: 4px;
}
.f-pt5 {
  padding-top: 5px;
}
.f-pr5 {
  padding-right: 5px;
}
.f-pb5 {
  padding-bottom: 5px;
}
.f-pl5 {
  padding-left: 5px;
}
.f-pt6 {
  padding-top: 6px;
}
.f-pr6 {
  padding-right: 6px;
}
.f-pb6 {
  padding-bottom: 6px;
}
.f-pl6 {
  padding-left: 6px;
}
.f-pt7 {
  padding-top: 7px;
}
.f-pr7 {
  padding-right: 7px;
}
.f-pb7 {
  padding-bottom: 7px;
}
.f-pl7 {
  padding-left: 7px;
}
.f-pt8 {
  padding-top: 8px;
}
.f-pr8 {
  padding-right: 8px;
}
.f-pb8 {
  padding-bottom: 8px;
}
.f-pl8 {
  padding-left: 8px;
}
.f-pt9 {
  padding-top: 9px;
}
.f-pr9 {
  padding-right: 9px;
}
.f-pb9 {
  padding-bottom: 9px;
}
.f-pl9 {
  padding-left: 9px;
}
.f-pt10 {
  padding-top: 10px;
}
.f-pr10 {
  padding-right: 10px;
}
.f-pb10 {
  padding-bottom: 10px;
}
.f-pl10 {
  padding-left: 10px;
}
.f-pt12 {
  padding-top: 12px;
}
.f-pr12 {
  padding-right: 12px;
}
.f-pb12 {
  padding-bottom: 12px;
}
.f-pl12 {
  padding-left: 12px;
}
.f-pt13 {
  padding-top: 13px;
}
.f-pr13 {
  padding-right: 13px;
}
.f-pb13 {
  padding-bottom: 13px;
}
.f-pl13 {
  padding-left: 13px;
}
.f-pt15 {
  padding-top: 15px;
}
.f-pr15 {
  padding-right: 15px;
}
.f-pb15 {
  padding-bottom: 15px;
}
.f-pl15 {
  padding-left: 15px;
}
.f-pt20 {
  padding-top: 20px;
}
.f-pr20 {
  padding-right: 20px;
}
.f-pb20 {
  padding-bottom: 20px;
}
.f-pl20 {
  padding-left: 20px;
}
.f-pt25 {
  padding-top: 25px;
}
.f-pr25 {
  padding-right: 25px;
}
.f-pb25 {
  padding-bottom: 25px;
}
.f-pl25 {
  padding-left: 25px;
}
.f-pt30 {
  padding-top: 30px;
}
.f-pr30 {
  padding-right: 30px;
}
.f-pb30 {
  padding-bottom: 30px;
}
.f-pl30 {
  padding-left: 30px;
}
.f-pt35 {
  padding-top: 35px;
}
.f-pr35 {
  padding-right: 35px;
}
.f-pb35 {
  padding-bottom: 35px;
}
.f-pl35 {
  padding-left: 35px;
}
.f-pt40 {
  padding-top: 40px;
}
.f-pr40 {
  padding-right: 40px;
}
.f-pb40 {
  padding-bottom: 40px;
}
.f-pl40 {
  padding-left: 40px;
}
.f-pt43 {
  padding-top: 43px;
}
.f-pr43 {
  padding-right: 43px;
}
.f-pb43 {
  padding-bottom: 43px;
}
.f-pl43 {
  padding-left: 43px;
}
.f-pt50 {
  padding-top: 50px;
}
.f-pr50 {
  padding-right: 50px;
}
.f-pb50 {
  padding-bottom: 50px;
}
.f-pl50 {
  padding-left: 50px;
}
.f-pt60 {
  padding-top: 60px;
}
.f-pr60 {
  padding-right: 60px;
}
.f-pb60 {
  padding-bottom: 60px;
}
.f-pl60 {
  padding-left: 60px;
}
.f-pt70 {
  padding-top: 70px;
}
.f-pr70 {
  padding-right: 70px;
}
.f-pb70 {
  padding-bottom: 70px;
}
.f-pl70 {
  padding-left: 70px;
}
.f-df1 {
  flex: 1;
}
.f-df2 {
  flex: 2;
}
.f-df3 {
  flex: 3;
}
.f-df4 {
  flex: 4;
}
.f-df5 {
  flex: 5;
}
.f-df6 {
  flex: 6;
}
.f-df7 {
  flex: 7;
}
.f-df8 {
  flex: 8;
}
.f-df9 {
  flex: 9;
}
.f-df10 {
  flex: 10;
}
.f-df11 {
  flex: 11;
}
.f-df12 {
  flex: 12;
}
.f-df13 {
  flex: 13;
}
.f-df14 {
  flex: 14;
}
.f-df15 {
  flex: 15;
}
.f-df16 {
  flex: 16;
}
.f-df17 {
  flex: 17;
}
.f-df18 {
  flex: 18;
}
.f-df19 {
  flex: 19;
}
.f-df20 {
  flex: 20;
}
.f-df21 {
  flex: 21;
}
.f-df22 {
  flex: 22;
}
.f-df23 {
  flex: 23;
}
.f-df24 {
  flex: 24;
}
.f-fs9 {
  font-size: 9px;
}
.f-fs10 {
  font-size: 10px;
}
.f-fs11 {
  font-size: 11px;
}
.f-fs12 {
  font-size: 12px;
}
.f-fs13 {
  font-size: 13px;
}
.f-fs14 {
  font-size: 14px;
}
.f-fs15 {
  font-size: 15px;
}
.f-fs16 {
  font-size: 16px;
}
.f-fs17 {
  font-size: 17px;
}
.f-fs18 {
  font-size: 18px;
}
.f-fs20 {
  font-size: 20px;
}
.f-fs22 {
  font-size: 22px;
}
.f-fs23 {
  font-size: 23px;
}
.f-fs24 {
  font-size: 24px;
}
.f-fs25 {
  font-size: 25px;
}
.f-fs26 {
  font-size: 26px;
}
.f-fs28 {
  font-size: 28px;
}
.f-fs30 {
  font-size: 30px;
}
.f-fs36 {
  font-size: 36px;
}
.f-fs38 {
  font-size: 38px;
}
.f-fs40 {
  font-size: 40px;
}
.f-fs42 {
  font-size: 42px;
}
.f-fs100 {
  font-size: 100px;
}
.f-ti1 {
  text-indent: 1em;
}
.f-ti2 {
  text-indent: 2em;
}
.f-ti3 {
  text-indent: 3em;
}
.f-ti4 {
  text-indent: 4em;
}
.f-ti5 {
  text-indent: 5em;
}
.f-ti6 {
  text-indent: 6em;
}
.s-cfff {
  color: #fff;
}
.s-c999 {
  color: #999;
}
.s-c7d888c {
  color: #7d888c;
}
.s-cc0c4cc {
  color: #c0c4cc;
}
.s-c83a2f8 {
  color: #83a2f8;
}
.s-cf00 {
  color: red;
}
.s-c00f {
  color: #00f;
}
.s-bgcfff {
  background-color: #fff;
}
.s-bgcf4f5fc {
  background-color: #f4f5fc;
}
.s-bgcf4f9f9 {
  background-color: #f4f9f9;
}
.s-bgcF4F5FA {
  background-color: #f4f5fa;
}
.f-brh {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.f-br3 {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.f-br5 {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.f-br7 {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.f-br10 {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.f-br12 {
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
.f-br15 {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.f-br20 {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.f-brp50 {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.f-br5 {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.f-br7 {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.f-br10 {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.f-br12 {
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
.f-br15 {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.f-br20 {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.g-w0 {
  width: 0;
}
.g-mw0 {
  min-width: 0;
}
.g-w8 {
  width: 8px;
}
.g-mw8 {
  min-width: 8px;
}
.g-w10 {
  width: 10px;
}
.g-mw10 {
  min-width: 10px;
}
.g-w12 {
  width: 12px;
}
.g-mw12 {
  min-width: 12px;
}
.g-w15 {
  width: 15px;
}
.g-mw15 {
  min-width: 15px;
}
.g-w16 {
  width: 16px;
}
.g-mw16 {
  min-width: 16px;
}
.g-w10 {
  width: 10px;
}
.g-mw10 {
  min-width: 10px;
}
.g-w20 {
  width: 20px;
}
.g-mw20 {
  min-width: 20px;
}
.g-w22 {
  width: 22px;
}
.g-mw22 {
  min-width: 22px;
}
.g-w30 {
  width: 30px;
}
.g-mw30 {
  min-width: 30px;
}
.g-w40 {
  width: 40px;
}
.g-mw40 {
  min-width: 40px;
}
.g-w45 {
  width: 45px;
}
.g-mw45 {
  min-width: 45px;
}
.g-w50 {
  width: 50px;
}
.g-mw50 {
  min-width: 50px;
}
.g-w60 {
  width: 60px;
}
.g-mw60 {
  min-width: 60px;
}
.g-w70 {
  width: 70px;
}
.g-mw70 {
  min-width: 70px;
}
.g-w80 {
  width: 80px;
}
.g-mw80 {
  min-width: 80px;
}
.g-w90 {
  width: 90px;
}
.g-mw90 {
  min-width: 90px;
}
.g-w100 {
  width: 100px;
}
.g-mw100 {
  min-width: 100px;
}
.g-w110 {
  width: 110px;
}
.g-mw110 {
  min-width: 110px;
}
.g-w120 {
  width: 120px;
}
.g-mw120 {
  min-width: 120px;
}
.g-w130 {
  width: 130px;
}
.g-mw130 {
  min-width: 130px;
}
.g-w140 {
  width: 140px;
}
.g-mw140 {
  min-width: 140px;
}
.g-w150 {
  width: 150px;
}
.g-mw150 {
  min-width: 150px;
}
.g-w160 {
  width: 160px;
}
.g-mw160 {
  min-width: 160px;
}
.g-w170 {
  width: 170px;
}
.g-mw170 {
  min-width: 170px;
}
.g-w180 {
  width: 180px;
}
.g-mw180 {
  min-width: 180px;
}
.g-w190 {
  width: 190px;
}
.g-mw190 {
  min-width: 190px;
}
.g-w200 {
  width: 200px;
}
.g-mw200 {
  min-width: 200px;
}
.g-w210 {
  width: 210px;
}
.g-mw210 {
  min-width: 210px;
}
.g-w220 {
  width: 220px;
}
.g-mw220 {
  min-width: 220px;
}
.g-w230 {
  width: 230px;
}
.g-mw230 {
  min-width: 230px;
}
.g-w240 {
  width: 240px;
}
.g-mw240 {
  min-width: 240px;
}
.g-w250 {
  width: 250px;
}
.g-mw250 {
  min-width: 250px;
}
.g-w260 {
  width: 260px;
}
.g-mw260 {
  min-width: 260px;
}
.g-w270 {
  width: 270px;
}
.g-mw270 {
  min-width: 270px;
}
.g-w280 {
  width: 280px;
}
.g-mw280 {
  min-width: 280px;
}
.g-w290 {
  width: 290px;
}
.g-mw290 {
  min-width: 290px;
}
.g-w300 {
  width: 300px;
}
.g-mw300 {
  min-width: 300px;
}
.g-w350 {
  width: 350px;
}
.g-mw350 {
  min-width: 350px;
}
.g-w360 {
  width: 360px;
}
.g-mw360 {
  min-width: 360px;
}
.g-w400 {
  width: 400px;
}
.g-mw400 {
  min-width: 400px;
}
.g-w450 {
  width: 450px;
}
.g-mw450 {
  min-width: 450px;
}
.g-w500 {
  width: 500px;
}
.g-mw500 {
  min-width: 500px;
}
.g-w550 {
  width: 550px;
}
.g-mw550 {
  min-width: 550px;
}
.g-w600 {
  width: 600px;
}
.g-mw600 {
  min-width: 600px;
}
.g-w800 {
  width: 800px;
}
.g-mw800 {
  min-width: 800px;
}
.g-w900 {
  width: 900px;
}
.g-mw900 {
  min-width: 900px;
}
.g-w1000 {
  width: 1000px;
}
.g-mw1000 {
  min-width: 1000px;
}
.g-w1100 {
  width: 1100px;
}
.g-mw1100 {
  min-width: 1100px;
}
.g-w1200 {
  width: 1200px;
}
.g-mw1200 {
  min-width: 1200px;
}
.g-wp5 {
  width: 5%;
}
.g-wp10 {
  width: 10%;
}
.g-wp20 {
  width: 20%;
}
.g-wp30 {
  width: 30%;
}
.g-wp40 {
  width: 40%;
}
.g-wp50 {
  width: 50%;
}
.g-wp60 {
  width: 60%;
}
.g-wp70 {
  width: 70%;
}
.g-wp80 {
  width: 80%;
}
.g-wp90 {
  width: 90%;
}
.g-wp100 {
  width: 100%;
}
.g-h0 {
  height: 0;
}
.g-mh0 {
  min-height: 0;
}
.g-h8 {
  height: 8px;
}
.g-mh8 {
  min-height: 8px;
}
.g-h10 {
  height: 10px;
}
.g-mh10 {
  min-height: 10px;
}
.g-h12 {
  height: 12px;
}
.g-mh12 {
  min-height: 12px;
}
.g-h15 {
  height: 15px;
}
.g-mh15 {
  min-height: 15px;
}
.g-h16 {
  height: 16px;
}
.g-mh16 {
  min-height: 16px;
}
.g-h20 {
  height: 20px;
}
.g-mh20 {
  min-height: 20px;
}
.g-h22 {
  height: 22px;
}
.g-mh22 {
  min-height: 22px;
}
.g-h30 {
  height: 30px;
}
.g-mh30 {
  min-height: 30px;
}
.g-h40 {
  height: 40px;
}
.g-mh40 {
  min-height: 40px;
}
.g-h50 {
  height: 50px;
}
.g-mh50 {
  min-height: 50px;
}
.g-h60 {
  height: 60px;
}
.g-mh60 {
  min-height: 60px;
}
.g-h70 {
  height: 70px;
}
.g-mh70 {
  min-height: 70px;
}
.g-h80 {
  height: 80px;
}
.g-mh80 {
  min-height: 80px;
}
.g-h90 {
  height: 90px;
}
.g-mh90 {
  min-height: 90px;
}
.g-h100 {
  height: 100px;
}
.g-mh100 {
  min-height: 100px;
}
.g-h110 {
  height: 110px;
}
.g-mh110 {
  min-height: 110px;
}
.g-h120 {
  height: 120px;
}
.g-mh120 {
  min-height: 120px;
}
.g-h130 {
  height: 130px;
}
.g-mh130 {
  min-height: 130px;
}
.g-h140 {
  height: 140px;
}
.g-mh140 {
  min-height: 140px;
}
.g-h150 {
  height: 150px;
}
.g-mh150 {
  min-height: 150px;
}
.g-h160 {
  height: 160px;
}
.g-mh160 {
  min-height: 160px;
}
.g-h170 {
  height: 170px;
}
.g-mh170 {
  min-height: 170px;
}
.g-h180 {
  height: 180px;
}
.g-mh180 {
  min-height: 180px;
}
.g-h190 {
  height: 190px;
}
.g-mh190 {
  min-height: 190px;
}
.g-h200 {
  height: 200px;
}
.g-mh200 {
  min-height: 200px;
}
.g-h210 {
  height: 210px;
}
.g-mh210 {
  min-height: 210px;
}
.g-h220 {
  height: 220px;
}
.g-mh220 {
  min-height: 220px;
}
.g-h230 {
  height: 230px;
}
.g-mh230 {
  min-height: 230px;
}
.g-h240 {
  height: 240px;
}
.g-mh240 {
  min-height: 240px;
}
.g-h250 {
  height: 250px;
}
.g-mh250 {
  min-height: 250px;
}
.g-h260 {
  height: 260px;
}
.g-mh260 {
  min-height: 260px;
}
.g-h270 {
  height: 270px;
}
.g-mh270 {
  min-height: 270px;
}
.g-h280 {
  height: 280px;
}
.g-mh280 {
  min-height: 280px;
}
.g-h290 {
  height: 290px;
}
.g-mh290 {
  min-height: 290px;
}
.g-h300 {
  height: 300px;
}
.g-mh300 {
  min-height: 300px;
}
.g-h400 {
  height: 400px;
}
.g-mh400 {
  min-height: 400px;
}
.g-h450 {
  height: 450px;
}
.g-mh450 {
  min-height: 450px;
}
.g-h500 {
  height: 500px;
}
.g-mh500 {
  min-height: 500px;
}
.g-h550 {
  height: 550px;
}
.g-mh550 {
  min-height: 550px;
}
.g-h600 {
  height: 600px;
}
.g-mh600 {
  min-height: 600px;
}
.g-h650 {
  height: 650px;
}
.g-mh650 {
  min-height: 650px;
}
.g-h700 {
  height: 700px;
}
.g-mh700 {
  min-height: 700px;
}
.g-h750 {
  height: 750px;
}
.g-mh750 {
  min-height: 750px;
}
.g-h800 {
  height: 800px;
}
.g-mh800 {
  min-height: 800px;
}
.g-hp5 {
  height: 5%;
}
.g-mhp5 {
  min-height: 5%;
}
.g-hp10 {
  height: 10%;
}
.g-mhp10 {
  min-height: 10%;
}
.g-hp20 {
  height: 20%;
}
.g-mhp20 {
  min-height: 20%;
}
.g-hp30 {
  height: 30%;
}
.g-mhp30 {
  min-height: 30%;
}
.g-hp40 {
  height: 40%;
}
.g-mhp40 {
  min-height: 40%;
}
.g-hp50 {
  height: 50%;
}
.g-mhp50 {
  min-height: 50%;
}
.g-hp60 {
  height: 60%;
}
.g-mhp60 {
  min-height: 60%;
}
.g-hp70 {
  height: 70%;
}
.g-mhp70 {
  min-height: 70%;
}
.g-hp80 {
  height: 80%;
}
.g-mhp80 {
  min-height: 80%;
}
.g-hp90 {
  height: 90%;
}
.g-mhp90 {
  min-height: 90%;
}
.g-hp100 {
  height: 100%;
}
.g-mhp100 {
  min-height: 100%;
}
.f-lh14 {
  line-height: 14px;
}
.f-lh16 {
  line-height: 16px;
}
.f-lh18 {
  line-height: 18px;
}
.f-lh20 {
  line-height: 20px;
}
.f-lh22 {
  line-height: 22px;
}
.f-lh24 {
  line-height: 24px;
}
.f-lh26 {
  line-height: 26px;
}
.f-lh28 {
  line-height: 28px;
}
.f-lh30 {
  line-height: 30px;
}
.f-lh32 {
  line-height: 32px;
}
.f-lh35 {
  line-height: 35px;
}
.f-lh40 {
  line-height: 40px;
}
.f-ts1 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.f-ts2 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
.f-bs1 {
  -webkit-box-shadow: 0 8px 10px #00168b;
  -moz-box-shadow: 0 8px 10px #00168b;
  box-shadow: 0 8px 10px #00168b;
}
.f-o0 {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.f-o30 {
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.f-o40 {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.f-o50 {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.f-o60 {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.f-o70 {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.f-o80 {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.f-o85 {
  -webkit-opacity: 0.85;
  -moz-opacity: 0.85;
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.f-o90 {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.f-o95 {
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.f-o100 {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.f-scale1 {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
.f-scale2 {
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.f-scale3 {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
.f-scale4 {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
}
.f-scale5 {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.f-scale6 {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.f-scale7 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.f-scale8 {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.f-scale9 {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
.f-scale10 {
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
  transform: scale(2.5);
}
.f-scale11 {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
}
.f-rotate1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.f-rotate2 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.f-rotate3 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.f-rotate4 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.f-rotate5 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.f-rotate6 {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
